@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary:     #607d9b
  accent:      #848482
  secondary:   #75816b
  info:        #6699cc
  warning:     #E5B400
  error:       #A06F73
  success:     #5e6756
}

$body-font-family = "News Cycle", sans-serif
$heading-font-family =  "News Cycle", sans-serif

@require '~vuetify/src/stylus/main.styl'

body, html {
  font-family: "News Cycle", sans-serif
  font-weight: 300 !important
  font-style: normal !important
}

.page
  @extend .fade-transition

html, body
  font-family: "News Cycle", sans-serif
  font-weight: 300
  font-style: normal

h1, h2, h3, h4, h5, h6
  font-family: "News Cycle", sans-serif
  font-weight: 300
  font-style: normal

i, .material-icons, .fa, fab, .far, .fas
  vertical-align: middle
