<template lang="pug">
v-app(dark)
  v-navigation-drawer(:mini-variant.sync='miniVariant' :clipped='clipped' v-model='drawer' fixed app)
    h2.pa-4.blue-grey.text--white
      i.fas.fa-bullseye.fa-lg.mr-3
      | Semântica Atlântica
    v-divider
    v-list
      v-list-tile(router :to='item.to' :key='i' v-for='(item, i) in items' exact active-class='active')
        v-list-tile-action
          v-icon(v-html='item.icon')
        v-list-tile-content
          v-list-tile-title(v-text='item.title')
  v-toolbar(fixed app :clipped-left='clipped')
    v-toolbar-side-icon(@click='drawer = !drawer')
    v-btn(icon @click.stop='miniVariant = !miniVariant')
      v-icon(v-html='miniVariant ? \'chevron_right\' : \'chevron_left\'')
    v-btn(icon @click.stop='clipped = !clipped')
      v-icon all_inclusive
    v-btn(icon @click.stop='fixed = !fixed')
      v-icon.fas.fa-sun.mr-0
    v-toolbar-title.ml-0(v-text='title')
    v-spacer
    v-btn(icon)
      v-icon waves
    v-btn(icon)
      v-icon fas fa-sun
    v-btn.mr-3(icon)
      v-icon more_vert
  v-content
    v-container
      nuxt.
        
        
  //- v-navigation-drawer(temporary :right='right' v-model='rightDrawer' fixed)
  //-   v-list
  //-     v-list-tile(@click.native='right = !right')
  //-       v-list-tile-action
  //-         v-icon(light) compare_arrows
  //-       v-list-tile-title Switch Drawer (Click My Ass)
  v-footer(:fixed='fixed' app)
    span
      i.fas.fa-sun.fa-2x.mr-2
      | Clonado na Samboja 2020 pelo Gran Bretonio e honi soit qui mal y pense
</template>

<style>
    body, html {
      font-family: 'News Cycle', sans-serif !important;
      font-weight: 300 !important;
      font-style: normal !important;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'News Cycle', sans-serif !important;
      font-weight: 300 !important;
      font-style: normal !important;
    }

    .material-icons, .fas {
      vertical-align: middle;
    }

    .dignity {
      font-family: 'News Cycle', sans-serif !important;
      font-weight: 300 !important;
      font-style: normal !important;
    }
    i {
      vertical-align: middle;
    }

    /* Rules for sizing the icon. */
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 48px; }
    .material-icons.md-60 { font-size: 60px; }
    .material-icons.md-72 { font-size: 72px; }
    .material-icons.md-84 { font-size: 84px; }
    .material-icons.md-96 { font-size: 96px; }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

</style>

<script>
  export default {
    data () {
      return {
        clipped: true,
        drawer: false,
        fixed: false,
        items: [
          { icon: 'directions_bike', title: 'In Principio', to: '/' },
          { icon: 'my_location', title: 'In Media Res', to: '/about' },
          { icon: 'settings_input_antenna', title: 'Deôntica', to: '/tuba' },
          { icon: 'beach_access', title: 'Romântica', to: '/alphorn' },
          { icon: 'rowing', title: 'Labiríntica', to: '/baritone-horn' },
          { icon: 'settings_input_antenna', title: 'Autêntica', to: '/baroque-trumpet' },
          { icon: 'pool', title: 'Anti-Romântica', to: '/conch' },
          { icon: 'place', title: 'Quântica', to: '/didgeridoo' },
          { icon: 'construction', title: 'Eclética', to: '/euphonium' },
          { icon: 'settings_input_antenna', title: 'Simpática', to: '/french-horn' },
          // { icon: 'group', title: 'Dramática', to: '/jazzophone' },
          // { icon: 'ac_unit', title: 'Keyed Trumpet', to: '/keyed-trumpet' },
          // { icon: 'restaurant', title: 'Piccolo Trumpet', to: '/piccolo-trumpet' },
          // { icon: 'local_phone', title: 'Sackbut', to: '/sackbut' },
          // { icon: 'tty', title: 'Trombone', to: '/trombone' },
          // { icon: 'code', title: 'Trumpet', to: '/trumpet' },
          { icon: 'flight ', title: 'Vuvuzela', to: '/vuvuzela' }
        ],
        miniVariant: false,
        right: false,
        rightDrawer: false,
        title: 'Fake News ao Gogo'
      }
    }
  }
</script>

<style lang="stylus">

@import '../assets/style/app.styl';

i {
	vertical-align: middle;
}

v-container {
	height: 100vh;
}

v-card-text {
	font-size: 25px !important;
}

v-card-title {
	text-shadow: 10px 10px #6699cc;
}

v-card {
	width: 300px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.bg	 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url( '../assets/images/vintage-test-one.jpg') no-repeat center center;
    background-size: cover;
    background-color: #6699cc;
	background-blend-mode: muliply;
	filter: opacity(30%) grayscale(100%);
  }

.inscribe {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}


</style>
