<template lang="pug">
v-container
	v-layout
		.bango
		.hero-text.d-flex-column
			i.material-icons.md-72 all_inclusive
			.display-3.mb-2 About
			.display-1.mb-4 A Difference Engine
			v-flex
				v-btn.mt4(large color="#75816b" to="/tuba") Ubatuba
				v-btn.mt4(large color="607d8b;" to="/trumpet") Itaquaquecetuba
</template>

<style scoped>

body, html {
		height: 100%;
}

h1 {
	font-size: 35px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.bango {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url( '../assets/images/machiine-more.jpg') no-repeat center center;
    background-size: cover;
    background-color: #6699cc;
	background-blend-mode: muliply;
	filter: opacity(70%) grayscale(100%);
  }

.inscribe {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

</style>
