<template lang="pug">
v-layout
	.bg
	.hero-text.d-flex-column
		h1
			i.material-icons.md-96 rowing
		.display-3 Duco Non Ducor
		h1.mb-10 Feriados na Samboja
		v-flex
			v-btn.mt-4(large color="blue-grey" to="/conch") Bandeirantes
			v-btn.mt-4(large color="#75816b" to="/flugelhorn") Eldorado
</template>

<style>

body, html {
		height: 100%;
}

h1 {
	font-size: 35px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url( '../assets/images/ponteavmarinho.jpg') no-repeat center center;
	background-size: cover;
	/* background-color: #6699cc; */
		/* background-blend-mode: muliply; */
		filter: opacity(50%) grayscale(100%);
  }

.inscribe {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

</style>
