<template lang="pug">
	v-container(fluid fill-height)
		.d-flex.flex-row
			v-col(cols="6" md="12")
				v-card.px-3.py-1(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Roberto Marinho
					v-card-text
						| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.


					v-card-actions.justify-center
							v-btn.mb-3(text color='blue-grey')
								| Compartilhar
							v-btn.mb-3(text color='yellow lighten-4 black--text')
								| Navegar

			v-col(cols="6" md="12")
				v-card.px-3.py-1(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Globo Antropófobo
					v-card-text
						| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.
					v-card-actions.justify-center
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn.mb-3(text color='yellow lighten-4 black--text')
								| Navegar

			v-col(cols="6" md="12")
				v-card.px-3.py-1(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Globo Antropófobo
					v-card-text
						| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.
					v-card-actions.justify-center
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn.mb-3(text color='yellow lighten-4 black--text')
								| Navegar

			v-col(cols="6" md="12")
				v-card.px-3.py-1(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Globo Antropófobo
					v-card-text
						| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.
					v-card-actions.justify-center
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn.mb-3(text color='yellow lighten-4 black--text')
								| Navegar


</template>
<style>

v-container {
	height: 100vh;
}

v-card-title {
	text-shadow: 10px 10px #6699cc;
}

v-card {
	width: 300px;
}

</style>
