<template lang="pug">
v-container(fill-height grid-list-xl)
	v-layout(wrap)
		v-row
			v-col
				v-card.pa-2(max-width="400" outlined)
					v-img.white--text(dark height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height.white--text Vuetify-Nuxt
					v-card-text
						| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.

					v-card-actions.justify-center.mt-0.mb-2
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar

			v-col
				v-card.pa-2(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Sambodia Nights
					v-card-text
						| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.
					v-card-actions.justify-center.mt-0.mb-2
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar
		v-row
			v-col
				v-card.pa-2(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Cães Danados
					v-card-text
						| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.

					v-card-actions.justify-center.mt-0.mb-2
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar

				v-col
					v-card.pa-2(max-width="400" outlined)
						v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
							v-card-title.headline.align-start.fill-height Vila Beatriz
						v-card-text
							| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.

						v-card-actions.justify-center.mt-0.mb-2
								v-btn(text color='blue-grey')
									| Compartilhar
								v-btn(text color='yellow lighten-4 black--text')
									| Navegar

</template>
<style>

v-container {
	height: 100vh;
}

v-card-title {
	text-shadow: 10px 10px #6699cc;
}

v-card {
	width: 300px;
	margin: 50px;
}

v-card-text {
	font-size: 18px;
}

</style>
