<template lang="pug">
v-container(fill-height grid-list-xl)
	v-layout(justify-center align-start)
		v-row
			v-col
				v-card(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Ex-Nuns to a Tee
					v-card-text
						| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus

					v-card-actions.text-center
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar

			v-col
				v-card(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Voracious Entities
					v-card-text
						| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus
					v-card-actions.text-center
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar
	
		v-row
			v-col
				v-card(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Nix to Vices
					v-card-text
						| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus

					v-card-actions.text-center
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar

			v-col
				v-card(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height Voltaic Undercurrents
					v-card-text
						| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus
					v-card-actions.text-center
							v-btn(text color='blue-grey')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar

</template>
<style>

v-container {
	height: 100vh;
}

v-card-title {
	text-shadow: 10px 10px #6699cc;
}

v-card {
	width: 300px;
}

</style>
