<template lang="pug">
v-layout(align-start justify-center)
	v-flex
		//- img.mb-5(src='/alchemy-sulphuric-blue-grey.svg' alt='San Pavlov by Day' height="120")
		v-card(max-width="400" outlined)
			v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
				v-card-title.headline.align-start.fill-height Vuetify-Nuxt
			v-card-text
				| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus

			v-card-actions.text-center
					v-btn(text color='blue-grey')
						| Compartilhar
					v-btn(text color='yellow lighten-4 black--text')
						| Navegar

		v-flex
			//- img.mb-5(src='/alchemy-sulphuric-blue-grey.svg' alt='San Pavlov by Day' height="120")
			v-card(max-width="400" outlined)
				v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
					v-card-title.headline.align-start.fill-height San Pavlov City
				v-card-text
					| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus
				v-card-actions.text-center
						v-btn(text color='blue-grey')
							| Compartilhar
						v-btn(text color='yellow lighten-4 black--text')
							| Navegar
</template>
<style>

v-container {
	height: 100vh;
}

v-card-title {
	text-shadow: 10px 10px #6699cc;
}

v-card {
	width: 300px;
}

</style>
