<template lang="pug">
v-container(grid-list-xl)
	v-layout(fluid wrap row justify="space-around" align="start")
		v-flex(xs12 md6)
			v-card.pa-4(max-width="400" outlined)
				v-img.white--text(height="150px" src='/nyccourts.jpg' style="filter: grayscale(100%)")
					v-card-title.headline.align-start.white--text.fill-height Vuetify-Nuxt
				v-card-text
					| Μνεσαρcηθμ cοτιδιεqθε αδ μελ. Μεα νατθμ ινvιδθντ ατ. Ετ vιμ μελιθσ ελοqθεντιαμ. Τολλιτ σεντεντιαε ηισ νε, qθι ρεqθε διcαμ ταμqθαμ ιν, αφφερτ δισπθτανδο εθμ cθ.

					v-card-actions.text-center
						v-btn.mx-2(text color='blue-grey darken-2')
							| Compartilhar

						v-btn(color='primary' raised @click='dialog = true') Diálogo

						v-dialog.pa-5(v-model='dialog' width='500')
							template(v-slot:activator='{ on, attrs }')
							v-card
								v-card-title.headline.blue-grey.lighten-2
									i.fas.fa-sun.fa-2x.mr-3
									| Concordar Se Quiser

								v-card-text.

									Μνεσαρcηθμ cοτιδιεqθε αδ μελ. Μεα νατθμ ινvιδθντ ατ. Ετ vιμ μελιθσ ελοqθεντιαμ. Τολλιτ σεντεντιαε ηισ νε, qθι ρεqθε διcαμ ταμqθαμ ιν, αφφερτ δισπθτανδο εθμ cθ.  Μνεσαρcηθμ cοτιδιεqθε αδ μελ. Μεα νατθμ ινvιδθντ ατ. Ετ vιμ μελιθσ ελοqθεντιαμ. Τολλιτ σεντεντιαε ηισ νε, qθι ρεqθε διcαμ ταμqθαμ ιν, αφφερτ δισπθτανδο εθμ cθ.
								v-card-actions.pa-4
									v-btn(color='success' raised @click='dialog = false')
										v-icon.mr-2 fas fa-bullseye
										| Aceitar
									v-btn.mr-2(color='accent' raised @click='dialog = false')
										v-icon.mr-2 rowing
										| Recusar

		v-flex(xs12 md6)
				v-card.pa-4(max-width="400" outlined)
					v-img.white--text(height="150px" src='/ponteavmarinho.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height San Pavlov City
					v-card-text
						| Μνεσαρcηθμ cοτιδιεqθε αδ μελ. Μεα νατθμ ινvιδθντ ατ. Ετ vιμ μελιθσ ελοqθεντιαμ. Τολλιτ σεντεντιαε ηισ νε, qθι ρεqθε διcαμ ταμqθαμ ιν, αφφερτ δισπθτανδο εθμ cθ.
					v-card-actions.text-center
						v-btn.mx-2(text color='blue-grey darken-2')
							| Compartilhar

						v-btn(color='primary' raised @click='dialog = true') Diálogo

		v-flex(xs12 md6)
				v-card(max-width="400" outlined)
					v-img.white--text(height="150px" src='/machiine-one.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height San Pavlov City
					v-card-text
						| Μνεσαρcηθμ cοτιδιεqθε αδ μελ. Μεα νατθμ ινvιδθντ ατ. Ετ vιμ μελιθσ ελοqθεντιαμ. Τολλιτ σεντεντιαε ηισ νε, qθι ρεqθε διcαμ ταμqθαμ ιν, αφφερτ δισπθτανδο εθμ cθ.
					v-card-actions.text-center.p-2
							v-btn.mx-3(text color='blue-grey darken-2')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar

		v-flex(xs12 md6)
				v-card(max-width="400" outlined)
					v-img.white--text(height="150px" src='/brooklyn-bridge-warship.jpg' style="filter: grayscale(90%)")
						v-card-title.headline.align-start.fill-height San Pavlov City
					v-card-text
						| Μνεσαρcηθμ cοτιδιεqθε αδ μελ. Μεα νατθμ ινvιδθντ ατ. Ετ vιμ μελιθσ ελοqθεντιαμ. Τολλιτ σεντεντιαε ηισ νε, qθι ρεqθε διcαμ ταμqθαμ ιν, αφφερτ δισπθτανδο εθμ cθ.
					v-card-actions.text-center.p-2
							v-btn.mx-3(text color='blue-grey darken-2')
								| Compartilhar
							v-btn(text color='yellow lighten-4 black--text')
								| Navegar

</template>

<script>
  export default {
    data () {
      return {
        dialog: false
      }
    }
  }
</script>

<style>

v-container {
	height: 100vh;
}

v-card-title {
	text-shadow: 10px 10px #6699cc;
}

v-card {
	width: 300px;
}

</style>
