<template lang="pug">
v-layout
	.bg
	.hero-text.d-flex-column
			h1.display-2 A Gripe Espanhola
			h2.display-1.my-3 Digmaang Espanyol-Amerikano
			v-flex.mt-3
				v-btn.mt-4.mr-2(large color="blue-grey darken-4") Rough Riders
				v-btn.mt-4(large color="grey darken-5" to="/about") The Spanish Vanish	
</template>

<style>

body, html {
		height: 100%;
}

h1 {
	font-size: 35px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url( '../static/brooklyn-bridge-warship.jpg') no-repeat center center;
    background-size: cover;
    background-color: #6699cc;
		/* /* background-blend-mode: muliply; */
		filter: opacity(50%);
  }

.inscribe {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

</style>
