	<template lang="pug">
v-layout
	.bongo
	.hero-text.d-flex-column
		h1
			i.fas.fa-sun.fa-4x.mb-3
		.display-2.mb-3 Vuvuzela
		.display-1.mb-4 Animando a Torcida
		v-flex
			v-btn.mt4.mr2(large color="blue-grey darken-1") Flamengo
			v-btn.mt4(large color="grey darken-5" to="/about") Fluminense
</template>

<style>

body, html {
		height: 100%;
}

h1 {
	font-size: 35px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.bongo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url( '../assets/images/crooklyn-bridge-again.jpg') no-repeat center center;
    background-size: cover;
    background-color: #6699cc;
		background-blend-mode: muliply;
		filter: opacity(50%);
  }

.inscribe {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

</style>
